In [1]:
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine

In [ ]:
comm = pd.read_csv('../data/cleaned_data/2018_Data_Commute_County.csv')
comm = comm.set_index('Geographic Area Name')
comm.loc['Montgomery County, Maryland',:]

In [ ]:
age = pd.read_csv('../data/cleaned_data/2010_Data_Age_County.csv')
age = age.set_index('Geographic Area Name')
age.loc['Montgomery County, Maryland',:]

### I want to get these table into SQL.

However, these column names are absolutely atrocious, and I would hate to type them out if I used SQL... what if I changed the columns names?

In [ ]:
new_cols = []

for col in comm.columns:
    new_col = col.replace(' 16 years and over','').replace('Car, truck, or van -- ','').replace('years','').replace('  ',' ').strip()
    new_col = new_col.replace('TRAVEL TIME TO WORK ','').replace(' to ','-').replace('Less than ','').strip()
    new_col = str.lower(new_col.replace('Mean ','').replace('-work (minutes)','').replace(' ','_')).strip()
    new_col = new_col.replace('public_transportation','pub_transit').replace('_workers','').replace('minutes','min').strip()
    new_cols.append(new_col)

In [ ]:
comm.columns = new_cols

In [ ]:
comm.index.name = 'county'

In [ ]:
comm

Cool. Let's add a 'state' columns just so I can use that if needed.

In [ ]:
states = []

for county in comm.index:
    state = county.split(', ')[1]
    states.append(state)

In [ ]:
comm['state'] = states

### sqlalchemy to the rescue!

Apparently you can load in a dataframe directly into postgresql, so that would save a *bunch* of time since I wouldn't have to input every column name for every table.

In [ ]:
database_name = 'commute_times'

connection_string = f"postgresql://postgres:postgres@localhost:5050/{database_name}"
engine = create_engine(connection_string)

In [ ]:
comm.to_sql('comm_2010', engine)
# help from: https://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table

Naturally, the next step is to get *every* table into SQL. Let's work on that.

In [2]:
def transfer_csv(path):
    df = pd.read_csv(path)
    year = int(path.split('_data/')[1].split('_Data')[0])
    csv_type = path.split('_Data_')[1].split('_County')[0]
    
    if csv_type == 'Commute':
        csv_type = 'comm'
    elif csv_type == 'Age':
        csv_type = 'age'
    
    
    ### set county as index
    df = df.set_index('Geographic Area Name')
    
    
    ### drop total column since we're only interested in people who travel
    df = df.drop(columns = 'Workers 16 years and over')
        
    
    ### change column names
    new_cols = []

    for col in df.columns:
        if col == 'Workers 16 years and over who did not work from home' or col == 'Workers 16 years and over who did not work at home':
            #print('FOUND')
            new_col = 'workers'
            new_cols.append(new_col)
        
        else:
            # The great replacening
            new_col = str.lower(col)
            new_col = new_col.replace(' 16 years and over','').replace('car, truck, or van -- ','').strip()
            new_col = new_col.replace('travel time to work ','').replace(' to ','_').replace('less than ','').strip()
            new_col = new_col.replace('-work (minutes)','').replace(' or more','').strip()
            new_col = new_col.replace('public transportation','pub_transit').replace(' workers','').replace('minutes','min').strip()
            new_col = new_col.replace('(years)','').replace(' years','').replace('  ',' ').strip().replace(' ','_')
            new_col = new_col.replace('__','_').replace('_who_did_not_work_at_home','').replace('_who_did_not_work_from_home','')
            if year >= 2018:
                new_col = new_col.replace('age_median','median')
            #end
            new_col = new_col.replace('(min)','min')
            new_col = re.sub(r'workers_(\d)',r'\1',new_col)
            new_col = new_col.replace('workers_mean','mean').replace('workers_age','age').replace('workers_median','median')
            new_cols.append(new_col)
        #end
    
    df.columns = new_cols
    
    
    ### change index name
    df.index.name = 'county'
    
    
    ### add state and year columns
    states = []

    for county in df.index:
        state = str(county).split(', ')[1]
        states.append(state)
    #end
    
    df['state'] = states
    df['year'] = year
    
    ### load into postgresql
    #df.to_sql(f'{csv_type}_{str(year)}', engine)
    
    return df

In [ ]:
df = transfer_csv('../data/cleaned_data/2021_Data_Age_County.csv')
df

In [ ]:
df.dtypes

### I need to make sure that the column names are *actually the same* if I want to combine tables with a "year" column

I originally transferred the tables to SQL, but I realized I wanted to have every year in each category in one table. I need to figure out how to do that soon... Because what I'm trying to do right now just isn't working out.

In [4]:
categories = ['Commute', 'Age']

In [5]:
df_dict = {}

for cat in categories:
    df = pd.DataFrame()
    print('RESET DF')
    
    for i in range(2010,2023):
        if i != 2020:
            print(cat,i,len(df.index))
            path = f'../data/cleaned_data/{i}_Data_{cat}_County.csv'
            subset = transfer_csv(path)
            df = pd.concat([df,subset])
            print(len(df.index))
        #end
    
    df_dict[cat] = df
#end

RESET DF
Commute 2010 0
535
Commute 2011 535
1092
Commute 2012 1092
1686
Commute 2013 1686
2271
Commute 2014 2271
2856
Commute 2015 2856
3436
Commute 2016 3436
4001
Commute 2017 4001
4539
Commute 2018 4539
5069
Commute 2019 5069
5595
Commute 2021 5595
6054
Commute 2022 6054
6587
RESET DF
Age 2010 0
432
Age 2011 432
901
Age 2012 901
1414
Age 2013 1414
1896
Age 2014 1896
2398
Age 2015 2398
2885
Age 2016 2885
3348
Age 2017 3348
3813
Age 2018 3813
4264
Age 2019 4264
4707
Age 2021 4707
5078
Age 2022 5078
5544

In [ ]:
df_dict['Age'].columns

In [ ]:
df_dict['Commute'].columns

### *Finally got it to work!* That sure did take a while.

In [ ]:
df_dict['Commute'].to_sql('comm', engine)
df_dict['Age'].to_sql('age', engine)

In [ ]:
df = pd.read_csv('../data/cleaned_data/2010_Data_Age_County.csv')
df

In [6]:
age  = df_dict['Age']
comm = df_dict['Commute']

In [8]:
age.to_csv('../data/cleaned_data/age.csv')
comm.to_csv('../data/cleaned_data/comm.csv')